.head {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 10px 0;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  fill: var(--vivid-sky-blue);
}

.icon:hover {
  fill: var(--white);
}

.icon:active {
  transform: scale(1.1);
}

h1 {
  color: var(--white);
}

i {
  font-size: 25px;
  color: pink;
}