.head {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 10px 0;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

h1 {
  color: var(--white);
}