.music-list {
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
}

.music-list ul li {
  width: 100%;
  background-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  color: var(--gray);
  position: relative;
}

.music-artist {
  font-size: 14px;
  font-weight: bold;
}

.music-title {
  font-size: 12px;
  width: 200px;
}

.music-pic img {
  height: 40px;
  margin-right: 10px;
}

.music-info {
  margin-right: 10px;
}

.music-time {
  font-size: 12px;
}

/* .music-list button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--gray);
} */
