.music-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.music-list ul li {
  display: flex;
  align-items: center;
  align-items: left;
  list-style-type: none;
  margin-bottom: 10px;
  color: var(--gray);
  font-size: 14px;
  position: relative;
  margin-right: 20px;
}

.music-list button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin-left: 10px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--gray);
  padding: 5px;
  position: absolute;
  top: -10;
  right: -40px;
}

.music-list svg {
  font-size: 10px;
}