.timeline {
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  background-color: var(--gray);
  height: 5px;
  width: 200px;
  border-radius: 2.5px;
  margin: 0 5px;
  position: relative;
}

.line::before {
  content: '';
  background-color: var(--vivid-sky-blue);
  height: 5px;
  border-radius: 2.5px;
  margin: 0 5px;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  animation: LineGrowth 45s linear infinite;
}

.timer {
  cursor: pointer;
  background-color: var(--vivid-sky-blue);
  height: 15px;
  width: 15px;
  position: absolute;
  top: -5px;
  border-radius: 50%;
  animation: timerAdvance 45s linear infinite;
}

p {
  font-size: 10px;
  color: var(--white);
}

@keyframes timerAdvance {
  0% {
    left: 0;
  }

  100% {
    left: 200px;
  }
}

@keyframes LineGrowth {
  0% {
    width: 0;
  }

  100% {
    width: 200px;
  }
}