.player-container {
  max-width: 500px;
  background-color: var(--zaffre);
  border-radius: 20px;
}


.btn {
  background: radial-gradient(var(--zaffre), var(--palatinate-blue));
  cursor: pointer;
  border: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 0 5px;
}

.btn:hover {
  background: radial-gradient(var(--rose), var(--fandango));
}


.btn:active {
  transform: scale(0.94);
}

.btn svg {
  height: 10px;
  fill: var(--gray);
}