.player-container {
  height: 600px;
  width: 340px;
  max-width: 500px;
  background-color: var(--zaffre);
  border: 4px black solid;
  border-radius: 10px;
  position: relative;
}


.btn {
  background: radial-gradient(var(--zaffre), var(--palatinate-blue));
  cursor: pointer;
  border: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 0 5px;
}

.btn:hover {
  background: radial-gradient(var(--rose), var(--fandango));
}


.btn:active {
  transform: scale(0.94);
}

.prov-image {
  background: url('https://images.unsplash.com/photo-1694823917926-a47f7efd7807?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2030&q=80');
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.head {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.head .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  height: 100%;
  width: 33.33%;
}

.head .icon:hover {
  color: lightsalmon;
  background-color: blueviolet;
}

.head .icon:active {
  color: brown;
}

.head i {
  font-size: 25px;
  color: pink;
}

.head p {
  font-size: 14px;
}